main {
	padding: 0vh 10vw;
}

main > h2 {
	font-size: 1rem;
	color: white;
}

.ceoBox {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Amiri';
	align-items: center;

	.story {
		width: 40%;
		height: 100%;
		flex-wrap: wrap;
		justify-content: space-between;

		.ceoTitle {
			display: flex;
			width: 100%;
			font-weight: bold;
			font-size: 1.5rem;
			margin-bottom: 50px;
		}
		.ceoSubTitle {
			font-weight: 200;
			font-size: 0.8rem;
			line-height: 2.5rem;
		}
	}

	.ceoImg {
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-content: flex-end;
		font-family: 'Amiri';
		line-height: 1;

		.ceo {
			width: 80%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.mid_1 {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 5vh 0px;

	.mid_1-1 {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		.minibox {
			width: 230px;
			height: 230px;
			background-color: black;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			line-height: 1.5rem;
			padding: 15px;
		}
		p {
			color: white;
		}
		p:nth-child(1) {
			font-weight: 500;
		}
		p:nth-child(2) {
			font-size: 0.8rem;
			font-weight: 200;
			color: #555;
			border-bottom: 0.5px solid #555;
			padding: 2px;
		}
	}

	.mid_1-2 {
		width: 50%;
		font-size: 1.5rem;
		line-height: 3rem;

		p {
			color: black;
		}

		p:nth-child(1) {
			font-weight: 500;
			word-break: keep-all; /* 단어 단위로 줄바꿈 유지 */
		}

		p:nth-child(2) {
			font-size: 0.8rem;
			font-weight: 200;
			color: #555;
		}
	}
}

.mid_2 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 5vh;

	article {
		width: 30%;
		margin: 40px;

		//자주 쓰이는 패턴
		//먼저 .pic으로 이미지가 들어갈 프레임 크기를 지정
		.pic {
			width: 100%;
			height: 300px;
			margin-bottom: 10px;

			//이후 안쪽 이미지 요소는 무조건
			//너비와 높이를 100%로 설정한 뒤 object-fit:cover 지정
			//그럼 pic프레임의 크기에 맞게 이미지가 박스 안쪽에 꽉 차셔 배치됨
			.others {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		h3 {
			font: bold 1.2rem/1 'arial';
			color: #555;
			margin-bottom: 10px;
		}
	}
}

.last {
	width: 100%;
	height: 30vh;
	margin-bottom: 5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	.combineImg {
		width: 300px;
		height: 300px;
		position: relative; /* 부모 요소를 기준으로 자식 요소의 절대 위치 설정 */
		.perfume {
			width: 230px;
			height: 230px;
			transform: rotate(0deg);
			position: absolute;
			bottom: 10%;
			right: 10%;
			box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.524);
			z-index: 1;
		}
		.bgBox {
			width: 230px;
			height: 230px;
			background-color: #ddd;
			position: absolute;
			bottom: 0;
			left: 0%;
			z-index: 0;
		}
	}

	.lastText {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		p {
			width: 100%;
			color: black;
			margin-bottom: 20px;
		}
		p:nth-child(1) {
			color: #555;
			font-size: 0.8rem;
			font-weight: 200;
			margin-bottom: 20px;
		}
		p:nth-child(2) {
			font-size: 1.5rem;
			font-weight: 200;
			color: #555;
			padding: 2px;
			word-break: keep-all; /* 단어 단위로 줄바꿈 유지 */
			margin-bottom: 20px;
		}
	}
	.buttons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		box-sizing: border-box;

		button:nth-child(1) {
			width: 100px;
			height: 30px;
			background-color: black;
			margin-right: 20px;
			color: white;
			border: none;
		}
		button:nth-child(2) {
			width: 100px;
			height: 30px;
			background-color: #777;
			color: black;
			border: none;
		}
	}
}
